{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Noto+Serif" rel="stylesheet">
  <link href="{% static 'crabgame/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'crabgame/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Crab 'n Click</title>
</head>

<body>
  <nav class="cyan darken-2" role="navigation">
    <div class="nav-wrapper container" id="nav-content">
      <a id="logo-container" href="{% url 'crabgame:index' %}" class="brand-logo"><img src="{% static 'crabgame/img/logo.png' %}" id="logo"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://www.noaa.gov" target="_blank">
          <img src="{% static 'crabgame/img/noaalogo.jpg' %}" id="noaalogo" height=110/></a>
        </li>
        <li><a href="https://www.kibsd.org" target="_blank">
          <img src="{% static 'crabgame/img/KIBSDlogo.png' %}" id="noaalogo" height=110/></a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="startScreen" class="cyan darken-3">
    <div class="row center" id="intro">
        <h4 class="header col s12 light" style="line-height: 1.6">Help the NOAA Kodiak Lab and Shellfish Assessment Program analyze crabs collected from the Bering Sea</h4>
    </div>
    <br><br><br><br><br><br>
    <div class="row center">
        <!-- when button clicked, trigger function to create instance of a PlaySession -->
        <form method="post" action="">{% csrf_token %}
        <button id="startBtn" class="btn-large waves-effect deep-orange lighten-1" type="submit">Get Started</button>
    </div>
    <br><br>
  </div>

  <div class="teal lighten-5">
  <br><br>
  <div id="content" class="teal lighten-5">
    <div class="row">
        <div class="col s12">
            <div id="progress">
                <h4 class="center">Crab n'Click Progress Bar</h4>
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>
    </div>

    <br>

    <div id="about" class="row">
        <div class="col s12 m6">
            <div id="aboutGame">
                <h4 class="center">About Crab n'Click</h4>
                <p class="light">The Kodiak Lab is part of NOAA’s Shellfish Assessment Program, which seeks to assess the distribution and abundance of commercially important crab and groundfish resources in the eastern Bering Sea. Each year, the Kodiak Lab goes out to sea and brings back 400-800 crabs. One way to determine if a crab is going to mate each year is to analyze its oocytes - the female reproductive cells before they are fertilized. With global warming and climate change, the reproductive systems of these snow crabs have become inconsistent. Help the Kodiak Lab researchers analyze these crab's oocytes so they can locate productive fishing grounds and help Crab Fisheries Management regulate takes to improve the overall viability of future crab stocks.</p>
                <p class="light">Learn more about the <a href="https://www.afsc.noaa.gov/Kodiak/kodiakLab_HOME.php" target="_blank">Kodiak Lab</a> or the <a href="https://www.afsc.noaa.gov/RACE/shellfish/shellfish_HOME.php" target="_blank">Shellfish Assessment Program.</a></p>
                <br>
                <img src="{% static 'crabgame/img/img3.jpg' %}" height=330/>
            </div>
        </div>

        <div class="col s12 m6">
          <br><br><br>
            <div id="images">
                <img src="{% static 'crabgame/img/img1.jpg' %}" height=330 style="margin-bottom: 9%"/>
                <img src="{% static 'crabgame/img/img2.jpg' %}" height=330 />
            </div>
        </div>
    </div> 
  </div> 
  <br><br>
  </div>

  <footer class="page-footer cyan darken-2">
      <div class="row" id="contactRow">
        <div class="col l6 s12">
        <div id="creators">
          <h5 class="white-text">The Creators</h5>
          <p class="grey-text text-lighten-4">
              This game was made by a 67-373 student team within the Carnegie Mellon University Information Systems Program. 
              67-373 is an IS Consulting Project course where students have 13 weeks to consult with a client to design, 
              build, and deliver a technology solution which meets their needs. 
          </p>
        </div>
        </div>

        <div class="col l3 s12">
        <div id="contactNames">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>Connor Fitzgibbon</li>
            <li>Hera Miao</li>
            <li>Rich Zhu</li>
            <br>
            <li><a class="white-text" href="https://www.cmu.edu" target="_blank">Carnegie Mellon University </a></li>
            <li><a class="white-text" href="https://www.cmu.edu/information-systems/" target="_blank">CMU IS Program</a></li>
          </ul>
        </div>
        </div>

        <div class="col l3 s12">
        <div id="contactEmail">
        <br><br>
          <ul>
            <li><a class="white-text" href="mailto:cfitzgib@andrew.cmu.edu">cfitzgib@andrew.cmu.edu</a></li>
            <li><a class="white-text" href="mailto:heram@andrew.cmu.edu">heram@andrew.cmu.edu</a></li>
            <li><a class="white-text" href="mailto:ruiquzhu@andrew.cmu.edu">ruiquzhu@andrew.cmu.edu</a></li>
          </ul>
        </div>
        </div>
      </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'crabgame/js/materialize.js' %}"></script>
  <script src="{% static 'crabgame/js/init.js' %}"></script>

  </body>
</html>