{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'crabgame/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'crabgame/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Crab 'n Click</title>
</head>

<body>
  <nav class="cyan darken-2" role="navigation">
    <div class="nav-wrapper container" id="nav-content">
      <a id="logo-container" href="{% url 'crabgame:index' %}" class="brand-logo"><img src="{% static 'crabgame/img/logo.png' %}" id="logo"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">NOAA</a></li>
        <li><a href="#">KFRC</a></li>
        <li><a href="#">KIBSD</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="startScreen" class="cyan darken-3">
    <br><br>
    <h1 class="header center">Crab 'n Click</h1>
    <br>
    <div class="row center">
        <h5 class="header col s12 light">Help the Kodiak Fisheries Research Center analyze crabs collected from the Bering Sea</h5>
    </div>
    <br><br>
    <div class="row center">
        <!-- when button clicked, trigger function to create instance of a PlaySession -->
        <form method="post" action="">{% csrf_token %}
        <button id="startBtn" class="btn-large waves-effect deep-orange lighten-1" type="submit">Get Started</button>
    </div>
    <br><br>
  </div>

  <div class="teal lighten-5">
  <br><br>
  <div id="content" class="teal lighten-5">
    <div class="row">
        <div class="col s12">
            <div id="progress">
                <h5 class="center">Crab Game Progress Bar</h5>
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>
    </div>

    <br>

    <div id="about" class="row">
        <div class="col s12 m6">
            <div id="aboutGame">
                <h5 class="center">About Crab Game</h5>
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
        </div>

        <div class="col s12 m6">
            <div id="images">
                <h5 class="center">Images</h5>
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
        </div>
    </div> 
  </div> 
  <br><br>
  </div>

  <footer class="page-footer cyan darken-2">
      <div class="row" id="contactRow">
        <div class="col l6 s12">
        <div id="creators">
          <h5 class="white-text">The Creators</h5>
          <p class="grey-text text-lighten-4">
              This game was made by a 67-373 student team within the Carnegie Mellon University Information Systems Program. 
              67-373 is an IS Consulting Project course where students have 13 weeks to consult with a client to design, 
              build, and deliver a technology solution which meets their needs. 
          </p>
        </div>
        </div>

        <div class="col l3 s12">
        <div id="contactNames">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>Connor Fitzgibbon</li>
            <li>Hera Miao</li>
            <li>Rich Zhu</li>
            <br>
            <li><a class="white-text" href="https://www.cmu.edu">Carnegie Mellon University </a></li>
            <li><a class="white-text" href="https://www.cmu.edu/information-systems/">CMU IS Program</a></li>
          </ul>
        </div>
        </div>

        <div class="col l3 s12">
        <div id="contactEmail">
        <br><br>
          <ul>
            <li><a class="white-text" href="mailto:cfitzgib@andrew.cmu.edu">cfitzgib@andrew.cmu.edu</a></li>
            <li><a class="white-text" href="mailto:heram@andrew.cmu.edu">heram@andrew.cmu.edu</a></li>
            <li><a class="white-text" href="mailto:ruiquzhu@andrew.cmu.edu">ruiquzhu@andrew.cmu.edu</a></li>
          </ul>
        </div>
        </div>
      </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'crabgame/js/materialize.js' %}"></script>
  <script src="{% static 'crabgame/js/init.js' %}"></script>

  </body>
</html>