{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Kodiak Crab Game</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'crabgame/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'crabgame/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'crabgame:index' %}" class="brand-logo">Kodiak-Crab</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About Us</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">About Us</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <!-- Display images of crabs --> 
    {% for photo in photos %}
        <h4>You are looking at an image of crab {{ photo.crab.sample_num }}</h4>
        <div class="row">
          <div class="col s6 m6 l6">
            <img id="original" src="/media/{{ photo.crab.sample_num }}/untitled{{ photo.get_img_num }}_resize.png"/>
          </div>
          <div class="col s6 m6 l6">
            <img id="binarized" src="/media/{{ photo.crab.sample_num }}/untitled{{ photo.get_img_num }}_label.png"/>
          </div>
        </div>
        <a class="waves-effect waves-light btn" id="next" href="{% url 'crabgame:result' photo.id %}">Next</a>
    {% endfor %}
  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'crabgame/js/materialize.js' %}"></script>
  <script src="{% static 'crabgame/js/init.js' %}"></script>
  <script>
    function nextImg() {}
    $(document).ready(function() {
        $("#binarized").on("click", function(event) {
            var x = event.pageX - this.offsetLeft;
            var y = event.pageY - this.offsetTop;
            var xy_data = {'x':x, 'y':y};
            $.post("detail", xy_data, null)
            alert("X Coordinate: " + x + " Y Coordinate: " + y);
        });
    });
    document.getElementById("next").addEventListener("click", nextImg);
  </script>

</body>

