{% load static %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'crabgame/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

    {% for photo in photos %}

        <h1>You are looking at an image of crab {{ photo.crab.sample_num }}</h1>
        <div id="images">
            <img id="original" src="/media/{{ photo.crab.sample_num }}/untitled{{ photo.get_img_num }}_resize.png"/>
            <img id="binarized" src="/media/{{ photo.crab.sample_num }}/untitled{{ photo.get_img_num }}_label.png"/>
        </div>

        <button id="next">Next</button>

    {% endfor %}

    <script>

        function nextImg() {
            
        }

        $(document).ready(function() {
            $("#binarized").on("click", function(event) {
                var x = event.pageX - this.offsetLeft;
                var y = event.pageY - this.offsetTop;
                alert("X Coordinate: " + x + " Y Coordinate: " + y);
            });
        });

        document.getElementById("next").addEventListener("click", nextImg);
    
    </script>

</body>

