body {
    margin: 0px;
}

#images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: turquoise;
    height: 500px;
}

#original {
    border: 2px solid;
}

#binarized {
    border: 2px solid;
}


