/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
  height: 110px;
}

#nav-content {
  margin-right: 0px;
  width: 97%;
}

#adminlogin, #socratalogin {
  letter-spacing: 0px;
  font-size: 12px;
  display: block;
  margin-top: 12px;
}

#startScreen {
  height: 535px;
  background: url("/static/crabgame/img/crabs1.jpg") no-repeat;
  opacity: 0.9; 
}

#intro {
  width: 60%;
}

#content {
  margin-right: 100px;
  margin-left: 100px;
}

h4 {
  font-family: 'Roboto Slab', serif;
}

#aboutGame {
line-height: 1.8;
text-align: justify;
}

#images {
  padding-left: 14%;
  margin-top: 3%;
}

#contactRow {
  margin: 50px;
}

a:hover {
  text-decoration: underline;
}

i.material-icons {
  margin-left: 95%;
}

#playImg {
  padding: 25px;
  padding-bottom: 10px;
}

#next, #submit {
  margin-top: 40px;
  margin-left: 85%;
  padding-left: 40px;
  padding-right: 40px;
}


